<md-toolbar color="primary">
    Tap Tempo
    <span class="fill-remaining-space"></span>

    <div [ngSwitch]="soundEnabled" (click)="soundEnabled = !soundEnabled">
      <md-icon *ngSwitchCase="true">volume_up</md-icon>
      <md-icon *ngSwitchCase="false">volume_mute</md-icon>
    </div>
    <md-toolbar-row>
      <tap-bpm #bpm></tap-bpm>
    </md-toolbar-row>
    <tap-sound [interval]="bpm.bpmStats ? bpm.bpmStats.avgMs : null" [playing]="soundEnabled"></tap-sound>
</md-toolbar>

<div class="content">
  <p class="instructions">To determine the BPM, tap the button to the rhythm of the music.</p>

  <div class="tap-area" (click)="bpm.tap()">
    <button md-fab>Tap</button>
  </div>

  <div class="brand">
    <a href="http://wearenorthern.com/" target="_blank">
      <img src="images/nl-mark.png" height="72" alt="Northern Logic logo">
    </a>
  </div>

</div>
