<md-toolbar color="primary">
    Tap Tempo
    <span class="fill-remaining-space"></span>
    <md-toolbar-row>
      <bpm #bpm></bpm>
    </md-toolbar-row>
</md-toolbar>

<div class="content">
  <p class="instructions">To determine the BPM, tap the button to the rhythm of the music.</p>

  <div class="tap-area" (click)="bpm.tap()">
  <button md-fab>Tap</button>
</div>

  <div class="brand">
    <a href="http://wearenorthern.com/" target="_blank">
      <img src="images/nl-mark.png" height="72" alt="Northern Logic logo">
    </a>
  </div>

</div>
