.content {
  padding: 8px;
  display: flex;
  flex-direction: column;
  height: calc(100% - 128px);
  text-align: center;
}

.instructions {
  flex: 1 0;
}

.tap-area {
  flex: 2 0;
}

[md-fab] {
  width: 128px;
  height: 128px;
}

.brand {
  margin: 1em auto;
}
